// Navigation Styles here

.flex-nav { // Flex-nav 
    font-size: 1.4rem;
    width: 75%;
    
    ul { // flex-nav ul
        .flexing(space-between, center);
        
        @media @phone {
            .flexing(space-between, center);
            flex-direction: column;
            margin: 20px;
        }
        
    } // End of flex-nav ul

    li { // List
       @media @phone {
           margin: 20px;
       }
    } // End of list

    a { // Anchors
        color: @silver;
        text-decoration: none;
    } // End of Anchors
} // End of Flex-nav